<section class="board" id="board">
  <div class="container">
    <h2 class="board-title">Наша дошка спогадів</h2>

    <div class="board-grid">
      <figure class="polaroid rotate-left">
        <img src="./img/photos/moment.jpg" alt="Memory 1" />
        <figcaption>Один з улюблених моментів</figcaption>
      </figure>

      <figure class="polaroid rotate-right">
        <img src="./img/photos/smile.jpg" alt="Memory 2" />
        <figcaption>Тут ми сміялись</figcaption>
      </figure>

      <figure class="polaroid rotate-left">
        <img src="./img/photos/remember.jpg" alt="Memory 3" />
        <figcaption>Цей день я памʼятаю</figcaption>
      </figure>

      <figure class="polaroid rotate-right">
        <img src="./img/photos/tepla.jpg" alt="Memory 4" />
        <figcaption>Ще одна тепла мить</figcaption>
      </figure>

      <figure class="polaroid rotate-right">
        <img src="./img/photos/zalushutusya.jpg" alt="Memory 4" />
        <figcaption>Мить, у якій хочеться залишитися</figcaption>
      </figure>

      <figure class="polaroid rotate-right">
        <img src="./img/photos/sample.jpg" alt="Memory 4" />
        <figcaption>Cвітло навколо і тепло між нами</figcaption>
      </figure>
    </div>
  </div>
</section>
