<section class="moments" id="moments">
  <div class="container">
    <h2 class="moments-title">Моменти</h2>
    <p class="moments-subtitle">
      Кілька кадрів, які хочеться перегортати знову і знову
    </p>

    <div class="moments-grid">
      <article class="moment-card">
        <figure class="moment-polaroid rotate-left">
          <img src="./img/photos/vechir.jpg" alt="Moment 1" />
          <figcaption>July 21nd</figcaption>
        </figure>

        <div class="moment-note tape-top">
          <p class="moment-text">
            “Ми ніби нічого особливого не планували — але вийшов один з
            найкращих вечорів.”
          </p>
          <span class="moment-sign">— я</span>
        </div>
      </article>

      <article class="moment-card reverse">
        <figure class="moment-polaroid rotate-right">
          <img src="./img/photos/road.jpg" alt="Moment 2" />
          <figcaption>Favorite trip</figcaption>
        </figure>

        <div class="moment-note tape-top">
          <p class="moment-text">
            “Ти вмієш робити так, що навіть дорога — це вже пригода.”
          </p>
          <span class="moment-sign">— always</span>
        </div>
      </article>

      <article class="moment-card">
        <figure class="moment-polaroid rotate-right">
          <img src="./img/photos/poruch.jpg" alt="Moment 3" />
          <figcaption>At home</figcaption>
        </figure>

        <div class="moment-note tape-top">
          <p class="moment-text">
            “Найцінніше — коли просто поруч. Без шуму. Без поспіху.”
          </p>
          <span class="moment-sign">— ❤️</span>
        </div>
      </article>

      <article class="moment-card reverse">
        <figure class="moment-polaroid rotate-left">
          <img src="./img/photos/your-smile.jpg" alt="Moment 4" />
          <figcaption>Laugh</figcaption>
        </figure>

        <div class="moment-note tape-top">
          <p class="moment-text">“Твій сміх — це моє улюблене ‘все добре’.”</p>
          <span class="moment-sign">— forever</span>
        </div>
      </article>
    </div>
  </div>
</section>
