<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="#board">
        <span class="nav-title">З Днем народження кохана❤️</span>
        <span class="nav-subtitle">це для тебе</span>
      </a>

      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#board">Дошка</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#moments">Моменти</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#details">Деталі</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#reasons">Причини</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#playlist">Плейлист</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#plans">Плани</a></li>
        <li class="nav-item"><a class="nav-link" href="#final">Фінал</a></li>
      </ul>
    </nav>
  </div>
</header>
